@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

:root {
  --primary-color: #34d399;
  --secondary-color: #064e3b;
}

body {
  background: linear-gradient(var(--primary-color), #d1fae5);
  /* background-color: var(--primary-color); */
  font-family: "Yatra One", cursive;
  color: var(--secondary-color);
  margin: 0;
}

nav {
  text-align: center;
  background-color: #059669;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.header {
  padding: 1rem;
  font-size: 3rem;
}

.container {
  display: block;
  max-width: 600px;
  margin: auto;
}

.no-inline {
  display: block;
}

.input-area {
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  border-width: medium;
  min-height: 20vh;
  width: 100%;
  margin: 2rem 0rem;
  font-family: inherit;
  font-size: large;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 1rem;
  margin: auto;
  font-family: inherit;
  font-size: large;
  padding: 1rem 2rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.output-area {
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  border-width: medium;
  width: 100%;
  min-height: 15vh;
  /* overflow: scroll; */
  font-family: inherit;
  font-size: large;
  margin: 2rem 0rem;
}

footer {
  margin-top: 2rem;
  text-align: justify;
  font-size: large;
  background-color: #10b981;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.footer-heading {
  font-size: larger;
  text-align: center;
  padding: 1rem;
}

.footer-para {
  width: 600px;
  margin: auto;
  padding-bottom: 2rem;
}
